<%- include('partials/_header') %>

<!-- Sección Hero -->
<div class="hero-section position-relative">
    <div class="hero-overlay d-flex align-items-center justify-content-center">
        <div class="text-center text-white">
            <h1 class="display-2">Fedora</h1>
            <p class="lead">Tu fuente confiable para juegos, eventos y ofertas.</p>
        </div>
    </div>
</div>

<!-- Sección de Información Relevante -->
<div class="container mt-5">
    <h2 class="text-center mb-5 text-light">Explora Nuestras Secciones</h2>
    <div class="row">
        <!-- Información 1: Juegos Populares -->
        <div class="col-md-6 mb-4">
            <div class="card info-card shadow-sm">
                <img src="https://assets.xboxservices.com/assets/75/d8/75d8b997-dbe1-41b5-b1e7-4344907af9e6.jpg" alt="Juegos Populares" class="card-img-top rounded-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title text-light">Juegos Populares</h5>
                    <p class="card-text text-light">Descubre los juegos más populares que nuestros usuarios están jugando ahora mismo. Desde los títulos más recientes hasta los clásicos atemporales, tenemos algo para todos.</p>
                    <a href="/games" class="btn btn-outline-primary">Ver Más</a>
                </div>
            </div>
        </div>

        <!-- Información 2: Ofertas Especiales -->
        <div class="col-md-6 mb-4">
            <div class="card info-card shadow-sm">
                <img src="https://assets.xboxservices.com/assets/f1/eb/f1ebe2e7-412d-46cd-bbb8-5798021d24ac.jpg" alt="Ofertas Especiales" class="card-img-top rounded-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title text-light">Ofertas Especiales</h5>
                    <p class="card-text text-light">Aprovecha nuestras ofertas especiales y promociones en una amplia gama de juegos. ¡No te pierdas las oportunidades de conseguir tus juegos favoritos a precios increíbles!</p>
                    <a href="/offers" class="btn btn-outline-primary">Ver Ofertas</a>
                </div>
            </div>
        </div>

        <!-- Información 3: Nuevos Lanzamientos -->
        <div class="col-md-6 mb-4">
            <div class="card info-card shadow-sm">
                <img src="https://assets.xboxservices.com/assets/1d/ee/1deed996-52ba-4e32-abf0-7ff92c71b633.jpg" alt="Nuevos Lanzamientos" class="card-img-top rounded-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title text-light">Nuevos Lanzamientos</h5>
                    <p class="card-text text-light">Mantente al día con los últimos lanzamientos en el mundo de los videojuegos. Explora los títulos más recientes y encuentra los nuevos juegos que te encantarán.</p>
                    <a href="/new-releases" class="btn btn-outline-primary">Descubrir Novedades</a>
                </div>
            </div>
        </div>

        <!-- Información 4: Eventos y Torneos -->
        <div class="col-md-6 mb-4">
            <div class="card info-card shadow-sm">
                <img src="https://assets.xboxservices.com/assets/86/90/869019d0-a4bb-47b6-8c4a-ee01e4c389b2.jpg" alt="Eventos y Torneos" class="card-img-top rounded-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title text-light">Eventos y Torneos</h5>
                    <p class="card-text text-light">Participa en nuestros eventos y torneos para jugadores. Conoce a otros entusiastas de los videojuegos y compite en emocionantes desafíos.</p>
                    <a href="/events" class="btn btn-outline-primary">Únete a la Acción</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>
